<div class="login-box">
  <div class="login-logo">
    <a href="/"><b>Standup App</b></a>
  </div>
  <div class="login-box-body">
    <p class="login-box-msg">Sign in</p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= devise_error_messages! %>
      </div>
      <div class="form-group has-feedback">
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <% if devise_mapping.rememberable? %>
      <div class="row">
        <div class="col-xs-8">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <div class="col-xs-4">
          <%= f.submit "Sign in", class: "btn btn-primary btn-block btn-flat" %>
        </div>
      </div>
      <% end %>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>

