<!DOCTYPE html>
<html>
  <head>
    <title>StandupApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
  </head>

  <body class="fixed skin-blue-light">
    <div class="wrapper">
      <%= render 'layouts/navigation/layout' %>
      <div class="content-wrapper">
        <%= yield %>
      </div>
      <%= render 'layouts/navigation/footer' %>
    </div>
  </body>
</html>
