<header class="main-header">
  <a class="logo" href="/">Standup App</a>
  <!-- Navbar Right Menu -->
  <nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages -->
        <li class="dropdown messages-menu">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-envelope-o"></i>
            <span class="label label-success">4</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 4 messages</li>
            <!-- inner menu: contains the actual data -->
            <li>
              <ul class="menu">
                <!-- start message -->
                <li>
                  <a href="#"></a>
                  <div class="pull-left">
                    <img class="img-circle" alt="User Image" src="http://placehold.it/160x160"></img>
                  </div>
                  <h4>Sender Name <small><i class="fa fa-clock-o">5 mins</i></small></h4>
                  <p>Message Excerpt</p>
                </li>
                <!-- end message -->
              </ul>
            </li>
            <li class="footer">
              <a href="">See All Messages</a>
            </li>
          </ul>
        </li>
        <!-- Notifications -->
        <li class="dropdown notifications-menu">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning">10</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 10 notifications</li>
            <!-- inner menu: contains the actual data -->
            <li>
              <ul class="menu">
                <!-- start notification -->
                <li>
                  <a href="#">
                    <i class="ion ion-ios-people info">Notification title</i>
                  </a>
                </li>
                <!-- end notification -->
              </ul>
            </li>
            <li class="footer">
              <a href="">View all</a>
            </li>
          </ul>
        </li>
        <!-- Tasks -->
        <li class="dropdown tasks-menu">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-flag-o"></i>
            <span class="label label-danger">9</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 9 tasks</li>
            <!-- inner menu: contains the actual data -->
            <li>
              <ul class="menu">
                <!-- Task item -->
                <li>
                  <a href=""></a>
                  <h3>Design some buttons <small class="pull-right">20%</small></h3>
                  <div class="progress xs">
                    <div class="progress-bar progress-bar-aqua" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" style="width: 20%">
                      <span class="sr-only">20% Complete</span>
                    </div>
                  </div>
                </li>
                <!-- end task item -->
              </ul>
            </li>
             <li class="footer">
              <a href="">View all tasks</a>
            </li>
          </ul>
        </li>
        <!-- User Account -->
        <li class="dropdown user user-menu">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <img class="user-image" alt="User Image" src="http://placehold.it/160x160"></img>
            <span class="hidden-xs">Alexander Pierce</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img class="img-circle" alt="User Image" src="http://placehold.it/160x160"></img>
              <p>Alexander Pierce - Web Developer <small>Member since Nov. 2012</small></p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
              <div class="col-xs-4 text-center">
                <a href="#">Followers</a>
              </div>
              <div class="col-xs-4 text-center">
                <a href="#">Sales</a>
              </div>
              <div class="col-xs-4 text-center">
                <a href="#">Friends</a>
              </div>
            </li>
            <!-- Menu Footer -->
            <li class="user-footer">
              <div class="pull-left">
                <a class="btn btn-default btn-flat" href="#">Profile</a>
              </div>
              <div class="pull-right">
                <a class="btn btn-default btn-flat" href="#">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
