<div class="main-sidebar">
  <div class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <img class="img-circle" alt="User Image" src="http://placehold.it/160x160"></img>
      </div>
      <div class="pull-left info">
        <p>User name</p>
        <a href="#">
          <i class="fa fa-circle text-success"> Online</i>
        </a>
      </div>
    </div>
    <form class="sidebar-form" action="#" method="get">
      <div class="input-group">
        <input class="form-control" name="q" placeholder="Search..." type="text"></input>
        <span class="input-group-btn">
          <button id="search-btn" class="btn btn-flat" name="search" type="submit">
             <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <ul class="sidebar-menu">
      <li class="header">
        HEADER
      </li>
      <li class="active">
        <a href="#">
          <span>Link</span>
        </a>
      </li>
      <li>
        <a href="#"><span>Another Link</span></a>
      </li>
      <li class="treeview">
        <a href="#"><span>Multilevel <i class="fa fa-angle-left pull-right"></i></span></a>
        <ul class="treeview-menu">
          <li><a href="#">Link in level 2</a></li>
          <li><a href="#">Link in level 2</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
